
*{
    margin:0;
    padding: 0;
}
body{
    overflow: hidden;
}
.h2Empresas{
    margin: 0px;
}
.tela{
    margin-left: 200px;
}
.empresas {
    background-color: aqua;
    border: 5px solid black;
    margin: 2px;
    width: 235px;
    height: 215px;
    display: inline-table;
    padding: 0px;
    
    
}
#interface{
    
    margin-bottom: 10px;
    position: fixed;
    right: 0;
}
img{
    height: 120px;
    width: 120px;
}
#noticias{
    overflow: auto;
    position: fixed;
    right:0;
    background-color: aquamarine;
    border: 2px solid black;
    margin-top: 80px; 
    width: 175px;
    height: 610px;
    overflow: auto;
}
#menu{
    position: fixed;
    left:0;
    background-color: aquamarine;
    border: 2px solid black;
    margin-top: 80px; 
    width: 175px;
    height: 610px;
}
