
*{
    margin:0;
    padding: 0;
}
.h2Empresas{
    margin: 0px;
}
.empresas {
    background-color: aqua;
    border: 5px solid black;
    margin: 2px;
    width: 245px;
    height: 225px;
    display: inline-table;
    padding: 0px;
    
    
}
#interface{
    right: 0; 
    margin-bottom: 10px;
    position: absolute;
}
img{
    height: 120px;
    width: 120px;
}
#noticias{
    float: right;
    background-color: aquamarine;
    border: 2px solid black;
    margin-top: 80px; 
    width: 175px;
    height: 610px;
    overflow: auto;
}
#menu{
    float: left;
    background-color: aquamarine;
    border: 2px solid black;
    margin-top: 80px; 
    width: 175px;
    height: 610px;
}
